/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562.csv
/API_SP.POP.TOTL_DS2_en_csv_v2_4751604/API_SP.POP.TOTL_DS2_en_csv_v2_4751604.csv
/API_SP.POP.TOTL_DS2_en_csv_v2_4751604/Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_4751604.csv
/co2-fossil-by-nation_zip/archive/fossil-fuel-co2-emissions-by-nation.csv
/co2-fossil-by-nation_zip/data/fossil-fuel-co2-emissions-by-nation_csv.csv
/co2-fossil-by-nation_zip/data/fossil-fuel-co2-emissions-by-nation_json.json
/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562/Metadata_Country_API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562.csv
/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562/Metadata_Indicator_API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562.csv
/API_SP.POP.TOTL_DS2_en_csv_v2_4751604/Metadata_Indicator_API_SP.POP.TOTL_DS2_en_csv_v2_4751604.csv
